header {
  display: flex;
  justify-content: center;
  background-color: #9c64a6;
  margin: 0;
  font-weight: 400;
  padding: 20px 0;
}

header img {
  width: 50px;
  margin: 0 8px;
  animation: jump 0.6s linear infinite alternate;
}

@keyframes rotation {
  0% {
    transform: translateY(10%);
    transform:rotate(0deg);
  }

  100% {
    transform: translateY(10%); 
    transform: rotate(360deg);
  }
}

header h1 {
  font-weight: 600;
  font-size: 30px;
  padding-top: 8px;
  color: #32064e;
}