header {
  display: flex;
  justify-content: center;
  background-color: #4d82cb;
  margin: 0;
  font-weight: 400;
  padding: 20px 0;
}

header img {
  width: 50px;
  margin: 0 8px;
}

header img:hover {
  cursor: pointer;
  transform: rotateY(180deg);

  -moz-transition: all 1.2s linear;
  -webkit-transition: all 1.2s linear;
  -o-transition: all 1.2s linear;
  transition: all 1.2s linear;
}

header h1 {
  font-weight: 600;
  font-size: 30px;
  padding-top: 8px;
}