#all-favorite {
  display: flex;
  flex-direction: row;
  padding: 30px 100px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

@media screen and (max-width: 850px) {

  #all-favorite {
    display: flex;
    padding: 30px 60px;
    flex-wrap: wrap;
  }

  .songBtn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }
}

#intro-section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 270px;
}

#intro-section h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

#intro-section span {
  font-size: 22px;
  opacity: 20%;
  font-weight: 400;
}

#intro-section span:hover {
  color: #9e00c5;
  opacity: 100%;
  cursor: pointer;
}

#intro-section p {
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 50px;
}

// Play Audio Section

.songBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.songBtn button {
  background-color: #e1bee7;
}

.songBtn img {
  width: 50px;
  height: 50px;
}

