#all-favorite {
  display: flex;
  flex-direction: row;
  padding: 30px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#intro-section {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro-section h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

#intro-section span {
  font-size: 22px;
  opacity: 20%;
  font-weight: 400;
}

#intro-section span:hover {
  color: #304ffe;
  opacity: 100%;
  cursor: pointer;
}

#intro-section p {
  font-weight: 300;
  line-height: 25px;
}


/* Songs Section */
#songs-section {
  max-width: 500px;
}

#navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navList li {
	list-style-type: none;
	cursor: pointer;
}

.heartIcon img {
  width: 80px;
}

/* Slider Section */

.container{
  width: 500px;
  height: 500px;
  position: relative;
  background-color: white;
  overflow: hidden;
}

.slider{
  display: flex;
  position:absolute;
  top: 0;
  left: 0;
}

.item{
  width: 500px;
}


.fade {
  animation-name: fade;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
  
}




.lightbox {
  display: none;
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  align-items: center;
  background-color: rgba(0, 0, 0, .7);
}

/* opened lightbox */
.show-lightbox { display: block; }

/* close button */
.lightbox .close
{
  float: right;
  padding-right: 30px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}